{% extends "base.html" %}
{% block content %} 

<h2>Log In</h2>	
<br>

<form  method="post" action="{% url 'django.contrib.auth.views.login' %}">
	{% csrf_token %}
	{% for field in form %}
	<div class="row">		
			<div class="span2">
				<label for="{{ field.id_for_label }}">{{field.label}}</label>
			</div>
			<div class="span5">
				<input id="{{ field.id_for_label }}" name="{{field.name}}" 
				{% if field.name == "password" %}
				type="password"
				{% else %}
				type="text"
				{% endif %}
				>
			</div>
	</div>
	{% endfor %}	

	<div class="row">
		<div class="form-group">
			<div class="span5 offset2">
				<button type="submit" class="btn btn-info">Log in!</button>
				<input type="hidden" name="next" value="{{ next }}"/>	
			</div>
		</div>
	</div>
	
	<br>
	{% if form.errors %}
	<div class="row">
		<div class="span3 offset2">
			<div class="alert alert-error">
				<p>Wrong input. Try again.</p>
			</div>
		</div>
	</div>
	{% endif %}
	<br>
	<div class="row">
		<div class="span3 offset2">
			<a href="/registration/signup">Create new account</a>
		</div>
	</div>

</form> 


{% endblock %}
