{% extends "base.html" %}

{% block content %}
<h2>New question</h2>
<br>	
<form method="POST" action="/ask_question">
	{% csrf_token %}
{% for field in form %}
	<div class="row">
		<div class="span2">
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
		</div>
		<div class="span5">
			{% if field.name == "title" %}
			<input style="resize: none; width: 100%;" autocomplete="off"
			id="{{ field.id_for_label }}" name="{{ field.name }}" type="text" 
			value="{{ field.value|default_if_none:"" }}"/>	
			{% elif field.name == "text" %}
			<textarea style="resize: none; width: 100%; height: 300px" 
			id="{{ field.id_for_label }}" name="{{ field.name }}" type="text" 
			value="{{ field.value|default_if_none:"" }}" ></textarea>	
			{% elif field.name == "tags" %}	
			<input style="resize: none; width: 100%;" name = "{{ field.name }}"type="text" 
			value="{{ field.value|default_if_none:"" }}"/>		
			{% endif %}
		</div>
	</div>
	{% if field.errors %}
		<div class="row">
			<div class="span2 offset2 alert alert-error"> 
				{{field.errors}}
			</div>
		</div>		
	{% endif %}

{% endfor %}
	<div class="row">
		<div class="span5 offset2">
				<input type="hidden" name="next" value="{{ next }}"/>
				<button type="submit" class="btn btn-info">Ask!</button>
		</div>
	</div>
</form>

{% endblock %}