{% extends "base.html" %}


{% block content %}
	{% load staticfiles %}
	{% load custom_tags %}
	
	{% if not tag %}
		{% if sort != 'hot' %}
		<h2>New questions <a href="?{% url_replace request 'sort' 'hot' %}">Popular questions</a></h2>
	 	{% endif %}

	 	{% if sort == 'hot' %}
		<h2><a href="?{% url_replace request 'sort' 'date' %}">New questions </a>Popular questions</h2>
	 	{% endif %}
 	{% else %}
 	<h2>Tag: {{tag}}</h2>
 	{% endif %}

	{% for Question in question_page %}
		<div class = "question row">
			<div class = "span2">
				<div align="center">
					<img src="{{Question.author.avatar.url}}" class="img-polaroid" style="margin-top: 20px" width=100 heigth=100 alt=""/>
 				</div>   		
 				<div align="center">
					{{Question.author.user.username}}
				</div> 			
			</div>
			
			<div class = "span5">
				<a href="/question?id={{Question.id}}"> <h3>{{Question.title}}</h3> </a>
				<hr/>
				<div class="questiontext">
					<p>{{Question.text}}</p>
				</div>						
			</div>

			<div class="span2">
				<div align="center">
					<a class="btn btn-info js-like" href="" data-liketype="q" data-vote="-" data-id="{{Question.id}}" data-url="/like">-</a>
					<textarea readonly class="js_cnt" style="resize: none; width: 25px; height: 20px">{{Question.rating}}</textarea>					
					<a class="btn btn-info js-like" href="" data-liketype="q" data-vote="+" data-id="{{Question.id}}" data-url="/like">+</a>
				</div>   				
			</div>

			<div class="span5">				
			<p>{{Question.date_added}}</p>
			<p> 
			<a href="/question?id={{Question.id}}">Answer ({{Question.answer_set.count}})</a>
				<span style="margin-left: 5%;">
					{% if Question.tag_set.all %}	
					Tags:					
					{% for tag in Question.tag_set.all %} 
						<a href="/tag?tag={{tag.tag_word}}">{{tag.tag_word}} </a>
					{% endfor %}					
					{% endif %}
				</span>
			</p>		
			</div>
		</div>		
	{% endfor %}



	<div class="pagination">
		<ul>
			<li> <a href= "?{% url_replace request 'page' 1 %}">First</a> </li>
			<li>
			{% if question_page.has_previous %}
				<a href= "?{% url_replace request 'page' question_page.previous_page_number %}">Prev</a>
			{% endif %}	
			</li>
					
			{% for page in question_page.paginator.page_range %}
			{% if page < max_page and page > min_page %}
			<li class="{% if question_page.number == page %}active{% endif %} "> <a href="?{% url_replace request 'page' page %}"> {{page}} </a> </li>
			{% endif %}
			{% endfor %}

			<li>
			{% if question_page.has_next %}
				<a href= "?{% url_replace request 'page' question_page.next_page_number %}">Next</a>
			{% endif %}	
			</li>
			<li> <a href= "?{% url_replace request 'page' last_page_number %}">Last</a> </li>
		</ul>		
    </div>
	
{% endblock %}

{% block foot %}
<script type="text/javascript" src="{% static "my.js" %}"> </script>
{% endblock %}