{% extends "base.html" %}


{% block content %}
	{% load staticfiles %}
	{% load custom_tags %}
	<h2>Question page</h2>
		<div class = "question row">
			<div class = "span2">
				<div align="center">
					<img src="{{Question.author.avatar.url}}" class="img-polaroid" style="margin-top: 20px" width=100 heigth=100 alt=""/>
 				</div>   		
 				<div align="center">
					{{Question.author.user.username}}
				</div> 			
			</div>

			<div class = "span5">
				<h3>{{Question.title}}</h3> 
				<hr/>
				<div class="questiontext">
					<p>{{Question.text}}</p>
				</div>						
			</div>

			<div class="span2">
				<div align="center">
					<a class="btn btn-info js-like" href="" data-liketype="q" data-vote="-" data-id="{{Question.id}}" data-url="/like">-</a>
					<textarea readonly class="js_cnt" style="resize: none; width: 25px; height: 20px">{{Question.rating}}</textarea>					
					<a class="btn btn-info js-like" href="" data-liketype="q" data-vote="+" data-id="{{Question.id}}" data-url="/like">+</a>
				</div>   				
			</div>

			<div class="span5">				
				<p>{{Question.date_added}}</p>
				<p> 
				{% if Question.tag_set.all %}	
						Tags:					
						{% for tag in Question.tag_set.all %} 
							<a href="/tag?tag={{tag.tag_word}}">{{tag.tag_word}} </a>
						{% endfor %}					
				{% endif %}
				</p>		
			</div>
		</div>
				
		<h3>Answers:</h3>
		{%for answer in answer_page %}
			<div class="question row">
				<div class = "span2">
					<div align="center">
						<img src="{{answer.author.avatar.url}}" class="img-polaroid" style="margin-top: 10px" width=50 heigth=50 alt=""/>
						<div align="center">
						{{answer.author.user.username}}
						</div>
	 				</div> 	 	
	 				<div align="center">
						<a class="btn btn-info js-like" href="" data-liketype="a" data-vote="-" data-id="{{answer.id}}" data-url="/like">-</a>
						<textarea readonly class="js_cnt" style="resize: none; width: 25px; height: 20px">{{answer.rating}}</textarea>					
						<a class="btn btn-info js-like" href="" data-liketype="a" data-vote="+" data-id="{{answer.id}}" data-url="/like">+</a>
					</div> 			 			
				</div>
				<div class = "span5">
					<p>{{answer.date_added}} 
					<b class="js_correct">{% if answer.is_right %} Correct answer  {% endif %}</b>
					</p> 
					<hr/>
					<div> <p>{{answer.text}}</p> </div>	
					<hr/>
					<p>
					{% if request.user == Question.author.user %}
						<input type="checkbox" class="js-isright" data-url="/rightanswer" 
						data-id ="{{answer.id}}" {% if  answer.is_right %} checked="checked" {% endif %}> Correct?<br>
					{% endif %}					
					</p>
				</div>							
			</div>
		{% endfor %}

	<div class="pagination">
		<ul>
			<li> <a href= "?{% url_replace request 'page' 1 %}">First</a></li>
			<li>
			{% if answer_page.has_previous %}
				<a href= "?{% url_replace request 'page' answer_page.previous_page_number %}">Prev</a>
			{% endif %}	
			</li>
			
			{% for page in answer_page.paginator.page_range %}
			{% if page < max_page and page > min_page %}
			<li class="{% if answer_page.number == page %}active{% endif %} "> <a href="?{% url_replace request 'page' page %}"> {{page}} </a> </li>
			{% endif %}
			{% endfor %}

			<li>
			{% if answer_page.has_next %}
				<a href= "?{% url_replace request 'page' answer_page.next_page_number %}">Next</a>
			{% endif %}	
			</li>
			<li> <a href= "?{% url_replace request 'page' last_page_number %}">Last</a> </li>
		</ul>
    </div>
    <hr>
    
    {% if user.is_authenticated %}
    <form method="POST" action="">
    {% csrf_token %}
    <div> 
    	<textarea  style="resize: none; width: 100%; height: 50px" name="{{ form.text.name }}"
    	type="text"></textarea> 
    </div>
	{% if form.text.errors %}
	<div class="alert alert-error"> 
				{{form.text.errors}}
			</div>		
	{% endif %}
	<input type="hidden" name="next" value="{{ next }}"/>
	<button type="submit" class="btn btn-primary">Answer!</button>
	<br>
    </form>
	{% endif %}

{% block foot %}
<script type="text/javascript" src="{% static "my.js" %}"> </script>
{% endblock %} 

{% endblock %}
